<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="/css/style.css">
	<meta charset="UTF-8">
	<title>New Person</title>
</head>

<body>
	<h2>Enter New Person</h2>
	<p>Please fill the following form:</p>
	<form action="/applicant/add" method="post" th:object="${applicant}">
		<table>
			<tr>
				<td>First Name:</td>
				<td><input type="text" th:field="*{firstName}"></td>
				<td th:errors="*{firstName}" class="error"></td>
			</tr>
			<tr>
				<td>Last Name:</td>
				<td><input type="text" th:field="*{lastName}"></td>
				<td th:errors="*{lastName}" class="error"></td>
			</tr>
			<tr>
				<td>Date of Birth:</td>
				<td><input type="text" th:field="*{dateOfBirth}"></td>
				<td th:errors="*{dateOfBirth}" class="error"></td>
			</tr>
			<tr>
				<td>E-mail:</td>
				<td><input type="text" th:field="*{email}"></td>
				<td th:errors="*{email}" class="error"></td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td><input type="text" th:field="*{phone}"></td>
				<td th:errors="*{phone}" class="error"></td>
			</tr>
			<tr>
				<td>Years of Experience:</td>
				<td><input type="text" th:field="*{experience}"></td>
				<td th:errors="*{experience}" class="error"></td>
			</tr>
			<tr>
				<td>Source:</td>
				<td><input type="text" th:field="*{source}"></td>
				<td th:errors="*{phone}" class="error"></td>
			</tr>
			<tr>
				<td colspan="3"><input type="submit" value="Save"></td>
			</tr>
		</table>
	</form>
	<p><a href="/list-applicants">Show List</a> | <a href="/applicant/new">Create New</a></p>
</body>

</html>